/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
ul {
    list-style-type: none
}

.navbar{
    width: 100%;
    margin: auto;
}

.welcome {
    min-height: 80vh;
    display: grid;
    place-content: center;
}

.titulo {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal
}
.sub-titulo {
    font-family: "Ubuntu", sans-serif;
}

.texto {
    font-family: "Roboto", sans-serif;
}


.fire-container {
    display: grid;
    place-content: end;
    box-shadow: -100px -100px 200px 20px #000000 inset
}


.overlay {
    background-color: black;
    opacity: 0.3;
}

.button-submit {
    background-color: #84C3AF;
    width: 150px;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.title-login {
    font-size: 65px;
}

.title-signup {
    font-size: 50px;
    margin-top: 50px;
    margin-bottom: 22px;
}

.form-signup {
    margin-bottom: 50px;

}

.navbar {
    background-color: rgb(56, 148, 163);
    font-size: 1.3em;
}

.card, .dark-background {
    background-color: rgb(47, 65, 79);
   
   
}

.section {
    border-radius: 2em;
    padding-bottom: 5em;

}

.section, .product {
border-color: rgb(102, 252, 241)
}

.product-section-button {
        font-size: 1rem;
        color: #fafafa;
        text-transform: uppercase;
        padding: 10px 20px;
        border-radius: 10px;
        border: 2px solid #fafafa;
        background: rgb(215, 44, 32);
        box-shadow: 3px 3px #fafafa;
        cursor: pointer;
        margin: 35px 0;
}

.product-section-button:active {
    box-shadow: none;
    background: #ac231a;
    transform: translate(3px, 3px);
  }

.dropdown {
    position: relative;
    display: inline-block;
  }
  
.dropdown-content {
display: none;
position: absolute;
background-color: #f1f1f1;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

.dropdown-content a {
color: black;
padding: 5px 0;
text-decoration: none;
display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #77BCC7;
}


.border-techno {
    border: 1.2em solid rgb(102, 252, 241);
}

.ribbon {
    text-align: center;
    padding-bottom: 0px;
    padding-top: 0px;
    transform: rotate(-45deg);
    margin-left: -2em;
    margin-top: 2em;
    width: 10em;
    height: 1.5em;
    font-size: 1.5em;
}

.border-card {
    border: 1.2em solid rgb(102, 252, 241);
    border-top: 0px;
    border-bottom-right-radius: 1em;
    border-bottom-left-radius: 1em;

}

.mail-news {
    background-color: #77BCC7 !important
}

.mail-button {
    color: white;
}

.card-header {
    background-color: rgb(47, 65, 79);
    color: white;
}

.photo-personal-zone {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%
}

