/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
ul {
    list-style-type: none
}

.welcome {
    min-height: 80vh;
    display: grid;
    place-content: center;
}

.titulo {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal
}
.sub-titulo {
    font-family: "Ubuntu", sans-serif;
}

.texto {
    font-family: "Roboto", sans-serif;
}