/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
body {
    background-color: #2F414F;
}

ul {
    list-style-type: none
}

.navbar {
    width: 100%;
    margin: auto;
}

.welcome {
    min-height: 80vh;
    display: grid;
    place-content: center;
}

.titulo {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal
}

.sub-titulo {
    font-family: "Ubuntu", sans-serif;
}

.texto {
    font-family: "Roboto", sans-serif;
}

.fire-container {
    display: grid;
    place-content: end;
    box-shadow: -100px -100px 200px 20px #000000 inset
}

.overlay {
    background-color: black;
    opacity: 0.3;
}

.button-submit {
    background-color: #84C3AF;
    width: 150px;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.title-login {
    font-size: 65px;
}

.title-signup {
    font-size: 50px;
    margin-top: 50px;
    margin-bottom: 22px;
}

.form-signup {
    margin-bottom: 50px;

}

.navbar {
    background-color: rgb(56, 148, 163);
    font-size: 1.3em;
}

.card,
.dark-background {
    background-color: rgb(47, 65, 79);
}

.section {
    border-radius: 2em;
    padding-bottom: 5em;
}

.section,
.product {
    border-color: rgb(102, 252, 241)
}

.product-section-button {
    font-size: 1rem;
    color: #fafafa;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid #fafafa;
    background: rgb(215, 44, 32);
    box-shadow: 3px 3px #fafafa;
    cursor: pointer;
    margin: 35px 0;
}

.product-section-button:active {
    box-shadow: none;
    background: #ac231a;
    transform: translate(3px, 3px);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 5px 0;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #77bcc7;
}

.border-techno {
    border: 1.2em solid rgb(102, 252, 241);
}

.ribbon {
    text-align: center;
    padding-bottom: 0px;
    padding-top: 0px;
    transform: rotate(-45deg);
    margin-left: -2em;
    margin-top: 2em;
    width: 10em;
    height: 1.5em;
    font-size: 1.5em;
}

.border-card {
    border: 1.2em solid rgb(102, 252, 241);
    border-top: 0px;
    border-bottom-right-radius: 1em;
    border-bottom-left-radius: 1em;
}

.mail-news {
    background-color: #77BCC7 !important
}

.mail-button {
    color: white;
}

.card-header {
    background-color: rgb(47, 65, 79);
    color: white;
}

.photo-personal-zone {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%
}

.name-product,
.price-product {
    font-size: 19px;
}

.card-body-individual {
    margin-top: 25px;
}

.card-body-individual {
    margin-left: 25px;
}

.card-individual-image img {
    width: 500px;
    height: 500px;
    margin-top: 70px;
    object-fit: cover;
    border-radius: 8%;
    transition: transform 0.3s ease-in-out;
}

.card-individual-image img:hover {
    transform: scale(1.05);
}

.score-container {
    display: flex;
    align-items: center;
    gap: 8px;
}

.score-product {
    background-color: #84C3AF;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 30px;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
}

.card-text-price {
    font-size: 24px;
    font-weight: bold;
    display: inline-block;
}

.btn-add-cart {
    background: linear-gradient(135deg, #CC4638, #FF8552);
    box-shadow: 2px 2px #fafafa;
    border: 2px solid #fafafa;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 12px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    width: 100%;
    max-width: 250px;
}

.btn-add-cart:hover {
    transform: scale(1.05);
    background: linear-gradient(135deg, #CC4638, #FF8552);
}

.btn-add-cart:active {
    transform: scale(0.95);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.img-small-vista-individual {
    margin-top: 40px;
    width: 50px;
    height: 50px;
}

.img-small-vista-individual {
    border-radius: 8%;
}

.img-small-vista-individual:hover {
    transform: scale(1.25);
}

.birth-personal {
    min-width: 12em;
}

.labels-personal {
    min-width: 6em;
}

.personal-info {
    background-color: rgb(234, 248, 252);
    color: rgb(47, 65, 79);
    font-weight: 700;
    font-size: 1em;
}

.personal-form {
    padding-top: 2em;
    margin-top: 1.5em;
    margin-left: 2.5em;
    margin-right: 20em;
    padding-bottom: 5em;
}

.text-colors {
    margin-left: 85px;
    margin-top: 50px;
}

.personal-button {
    display: flex;
    justify-content: end;
    margin-right: 2em;
    padding-bottom: 1em;
}

.save-button,
.cancel-button {
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    font-size: 1em;
}

.save-button {
    background-color: rgb(204, 70, 56);
    border: none;
    color: white;
}

.save-button:hover {
    background-color: rgb(126, 43, 33);
    color: white;
}

.save-button:disabled {
    background-color: rgb(177, 100, 92);
    color: lightgray;
}

.cancel-button {
    background-color: rgb(131, 157, 173);
    border: none;
    color: white;
}

.cancel-button:hover {
    background-color: rgb(84, 101, 111);
    color: white;
}

.cancel-button:disabled {
    background-color: rgb(129, 140, 147);
    color: lightgray;
}

.div-personal-zone {
    padding-bottom: 15em;
}

.input-personal:disabled {
    background-color: rgb(253, 253, 253);
    color: rgb(109, 126, 138)
}

.edit-button {
    background-color: rgb(119, 188, 199);
    color: white;
}

.edit-button:hover {
    background-color: rgb(82, 148, 158);
    color: white;
}

.personal-zone-title {
    margin-left: 3em;
    margin-bottom: 0.5em;
}

.message-personal {
    font-size: 1.3em;
}

.app-content {
    overflow-y: auto;
}

.bg-footer {
    background-color: rgb(56, 148, 163);
}

.label-vista-ampliada {
    font-size: 25px;
    margin-left: 15px;
}

.edit-pen {
    top: 0;
    left: 9.5em;
    margin-top: 2em;
    background-color: rgb(241, 239, 246);
    color: black;
}

.carrusel-catalogo {
    height: 450px;
    background-color: #868686;
}

.content-small-card {
    border-radius: 10px;
    transition: transform 0.2s ease-in-out;
}


.content-small-card:hover {
    transform: scale(1.11);
}

.image-welcome-phones {

    width: 100%;
    height: 75%;
}

.catalog-section-catalog-phones {
    margin-top: 5em;
    margin-right: 10em;
    margin-left: 10em;
}

.image-product-card {
height: 80%;
}

.text-product-card {
height: 20%;
}

.card-individual-tv-image img {
    width: 800px;
    height: 600px;
    margin-top: 110px;
    object-fit: cover;
    border-radius: 8%;
    transition: transform 0.3s ease-in-out;
}

.card-individual-tv-image img:hover {
    transform: scale(1.05);
}

.card-individual-laptop-image img {
    width: 800px;
    height: 600px;
    margin-top: 110px;
    object-fit: cover;
    border-radius: 8%;
    transition: transform 0.3s ease-in-out;
}

.card-individual-laptop-image img:hover {
    transform: scale(1.05);
}